name: Run Cypress Tests

on:
    push:
        branches:
                - main
    pull_request:
        branches:
               - main       
jobs: 
  cypress-run:
      runs-on: ubuntu-latest             
     
      steps:

      - name: Checkout code
        uses: actions/checkout@v4
            
      - name: Setup Node.js
        uses: actions/setup-node@v4 
        with:
            node-version: 20
            cache: npm

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
             
      - name: Upload Cypress Videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: ignore

      - name: Upload Cypress Screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore

      - name: Generate Allure Results
        if: always()
        run: |
          npx allure generate allure-results --clean -o allure-report

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

